.proto-set-up {
  -webkit-transform: translateX(0) translateY(-100%);
  transform: translateX(0) translateY(-100%); }

.proto-slide-in-up {
  -webkit-animation: proto-slide-in-up 0.4s 1 both;
  animation: proto-slide-in-up 0.4s 1 both; }

@keyframes proto-slide-in-up {
  from {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
.proto-slide-out-up {
  -webkit-animation: proto-slide-out-up 0.4s 1 both;
  animation: proto-slide-out-up 0.4s 1 both; }

@keyframes proto-slide-out-up {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  to {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); } }
.proto-set-right {
  -webkit-transform: translateX(100%) translateY(0);
  transform: translateX(100%) translateY(0); }

.proto-slide-in-right {
  -webkit-animation: proto-slide-in-right 0.4s 1 both;
  animation: proto-slide-in-right 0.4s 1 both; }

@keyframes proto-slide-in-right {
  from {
    -webkit-transform: translateX(100%);
    transform: translateX(100%); }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }
.proto-slide-out-right {
  -webkit-animation: proto-slide-out-right 0.4s 1 both;
  animation: proto-slide-out-right 0.4s 1 both; }

@keyframes proto-slide-out-right {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  to {
    -webkit-transform: translateX(100%);
    transform: translateX(100%); } }
.proto-set-down {
  -webkit-transform: translateX(0) translateY(100%);
  transform: translateX(0) translateY(100%); }

.proto-slide-in-down {
  -webkit-animation: proto-slide-in-down 0.4s 1 both;
  animation: proto-slide-in-down 0.4s 1 both; }

@keyframes proto-slide-in-down {
  from {
    -webkit-transform: translateY(100%);
    transform: translateY(100%); }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
.proto-slide-out-down {
  -webkit-animation: proto-slide-out-down 0.4s 1 both;
  animation: proto-slide-out-down 0.4s 1 both; }

@keyframes proto-slide-out-down {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  to {
    -webkit-transform: translateY(100%);
    transform: translateY(100%); } }
.proto-set-left {
  -webkit-transform: translateX(-100%) translateY(0);
  transform: translateX(-100%) translateY(0); }

.proto-slide-in-left {
  -webkit-animation: proto-slide-in-left 0.4s 1 both;
  animation: proto-slide-in-left 0.4s 1 both; }

@keyframes proto-slide-in-left {
  from {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }
.proto-slide-out-left {
  -webkit-animation: proto-slide-out-left 0.4s 1 both;
  animation: proto-slide-out-left 0.4s 1 both; }

@keyframes proto-slide-out-left {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); } }
.proto-set-origin {
  -webkit-transform: translateX(0) translateY(0);
  transform: translateX(0) translateY(0); }

/*# sourceMappingURL=proto_slides.css.map */
